.mobile__hamburgerBtn {
    display: none;
}

.mobile__logo {
    display: none;
}

@media only screen and (max-width: 910px) {
    .header__button {
        display: none;
    }

    #rechargeBtn {
        display: flex;
        background: var(--blue);
        border-radius: 4px;
        margin: 0px 10px;
        height: 40px;
        padding: 0px 15px;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: var(--black);
        font-weight: 700;
    }

    .mobile__logo {
        display: flex;
        height: 40px;
        border-radius: 4px;
        padding: 2px;
        background: var(--white);
    }

    .logo_h1 {
        display: none;
    }

    .header__div {
        width: 100%;
        justify-content: flex-end;
    }

    .header__perfilDiv {
        margin: 0px;
    }

    .header__span {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        order: -1;
        height: 40px;
        padding: 0px 15px;
        border-radius: 4px;
        border: solid 1.5px var(--background-input);

    }

    .main__header {
        padding: 15px 10px 15px 10px;
    }

    .div__cards {
        grid-template-columns: auto auto;
    }

    .gameCard {
        width: 120px;
        height: 160px;
    }

    .frontSide__spanNumber {
        font-size: 55px;
    }

    .header__perfilBtn {
        border-radius: 4px;
        height: 40px;
        width: 40px;
        border: 1.5px var(--background-input);
    }

    .mobile__hamburgerBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--light-gray);
        font-size: 40px;
        background: transparent;
        padding: 0px;
        margin: 0px;
        border: 0px;
        outline-width: 0px;
    }

    .gameCard:nth-child(8) {
        display: none;
        visibility: hidden;
    }

    .gameCard:nth-child(7) {
        display: none;
        visibility: hidden;
    }

    .gameCard:nth-child(6) {
        display: none;
        visibility: hidden;
    }

    .gameCard:nth-child(5) {
        display: none;
        visibility: hidden;
    }

    .main__rules {
        position: relative;
        margin: 0px 0px 20px 0px;
    }
    .header__loginBtn {
        height: 40px;
        padding: 0px 15px;
        border-radius: 4px;
        border: solid 1.5px var(--background-input);
        margin: 0px;
    }
    .rechargeSection__container {
        width: 100vw;
    }
    .rechargeSection__h2 {
        text-align: center;
    }
    .rechargeSection__selectPrice.promo::after {
        margin: -18px -131% 0px 0px;
    }
}