.rechargeSection__container.rulesSection {
    background: var(--white);
}

.rulesSection .rechargeSection__h2 {
    margin: 0px;
    text-align: center;
}

.rulesSection .rulesSection__p {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0px;
}
.rulesSection__demo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0px;
}
.rulesSection__demo__fail {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    color: var(--red);
    margin-right: 20px;
}
.rulesSection .gameCard .innerCard {
    transform: rotateY(180deg)
}